{% extends 'studpages/base_student.html' %}

{% block title %}
{% if user.language == 'ru' %}Список курсов{% else %}Курстар тізімі{% endif %}
{% endblock %}

{% block content %}
{% load static %}
<style>
  #link3 {
    background-color: #03d2c8;
    color: #ffffff;

    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.3);
  }
</style>
<section class="course_section">
        <div class="container">
          <div class="row">
            {% for course in courses %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
                <div class="card_img_top" style="background-image: url('{{course.image.url}}')">
                </div>
                <div class="card-body">
                  <a href="{{course.course_before_student}}" class="card-title">{{course.title|slice:"0:33"}}{% if course.title|length > 33 %}...{% endif %}</a>
                  <a href="{{course.course_before_student}}" class="course_sh_btn">{% if user.language == 'ru' %}Посмотреть{% else %}Ашу{% endif %}</a>
                </div>
                <div class="card-footer">
                  <div class="tname">
                    <p>
                      {% for i in data %}
                        {% if i.curs.id == course.id %}<p>{{i.developer}}</p>{% endif %}
                      {% endfor %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
{% endblock %}
